####################################################
# Angular
####################################################

node_modules/
.angular/
dist/
coverage/
out-tsc/

####################################################
# ASP.NET Core / Visual Studio
####################################################

bin/
obj/
.vs/

*.user
*.rsuser
*.suo

####################################################
# IDE
####################################################

.vscode/
.idea/

####################################################
# Logs
####################################################

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

####################################################
# Environment
####################################################

.env
.env.*
!.env.example

####################################################
# OS Files
####################################################

.DS_Store
Thumbs.db

####################################################
# Temporary
####################################################

tmp/
temp/

####################################################
# Publish
####################################################

publish/

####################################################
# NuGet
####################################################

*.nupkg

####################################################
# SQL LocalDB
####################################################

*.mdf
*.ldf